
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1484106956901'); /* IE9*/
  src: url('../fonts/iconfont.eot?t=1484106956901#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff?t=1484106956901') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf?t=1484106956901') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg?t=1484106956901#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-woquan:before { content: "\e62c"; }

.icon-dollar:before { content: "\e83b"; }

.icon-shuzizhengwuyingjixuanchuan01:before { content: "\e619"; }

.icon-shuzizhengwuzhengtipinggu01:before { content: "\e61d"; }

.icon-szzw-zhengfucaigou:before { content: "\e614"; }

.icon-zhihuiliangkujihuahetongguanli:before { content: "\e62b"; }

.icon-yytb-dangfenglianzhengjianshe:before { content: "\e62f"; }

.icon-yingyongtubiaoliangkutongjichaxun:before { content: "\e63f"; }

.icon-yytb-sheliangqiyexinxisvg:before { content: "\e636"; }

.icon-shuzizhengwutianjia01:before { content: "\e651"; }

.icon-linedel:before { content: "\e659"; }

.icon-qianding:before { content: "\e65b"; }

.icon-lineshuaxin:before { content: "\e65f"; }

.icon-lineflie:before { content: "\e66a"; }

.icon-linecomputer:before { content: "\e66d"; }

.icon-lineupload:before { content: "\e671"; }

.icon-yes:before { content: "\e675"; }

.icon-shareleft:before { content: "\e68a"; }

.icon-camera:before { content: "\e6b4"; }

.icon-edit2:before { content: "\e6bc"; }

.icon-search:before { content: "\e6df"; }

.icon-fujian:before { content: "\e6ef"; }

.icon-directleft:before { content: "\e6f7"; }

.icon-flie:before { content: "\e6ff"; }

.icon-tool:before { content: "\e71f"; }

.icon-shuzizhengwujuchangxinxiang01:before { content: "\e728"; }

.icon-szzw-danganguanli:before { content: "\e670"; }

.icon-company:before { content: "\e729"; }

.icon-yes1:before { content: "\e72b"; }

.icon-wrong:before { content: "\e72c"; }

.icon-dollar1:before { content: "\e72d"; }

.icon-jiaoyilogo:before { content: "\e72e"; }

.icon-sucess:before { content: "\e72f"; }

.icon-qianding1:before { content: "\e731"; }

.icon-tingpai:before { content: "\e732"; }

.icon-querentijiao:before { content: "\e733"; }

.icon-kuaidi:before { content: "\e734"; }

.icon-jianguan:before { content: "\e735"; }

.icon-gongying:before { content: "\e736"; }

.icon-caigou1:before { content: "\e737"; }

.icon-download:before { content: "\e738"; }

.icon-downloadsquare:before { content: "\e739"; }

.icon-help:before { content: "\e73a"; }

.icon-hetong-copy:before { content: "\e83c"; }

.icon-calendar:before { content: "\e73b"; }

.icon-calendar1:before { content: "\e73c"; }

.icon-guapai:before { content: "\e73d"; }

.icon-news:before { content: "\e73e"; }
